@import '../../_available.scss';

.contentLeft {
  width: 440px;
  display: flex;
  flex-direction: column;
  .boxTop {
    .tbody {
      height: 282px;
      overflow-y: scroll;
    }
  }
  .boxBottom {
    .tbody {
      height: 443px;
      overflow-y: scroll;
    }
  }
  .box {
    .right {
      display: flex;
      color: #ccc;
    }
    .th,
    .tr {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      position: relative;
      div {
        width: 20%;
      }
      .up {
        color: $up-color;
      }
      .down {
        color: $down-color;
      }
      .actionWrap {
        position: absolute;
        right: 0;
        top: 0;
        display: none;
        background-color: #2f54eb;
        .action {
          display: flex;
          margin-right: 6px;
        }
      }

      &:hover {
        .actionWrap {
          display: flex;
        }
      }
    }
    .th {
      color: #999;
    }
  }
}
