@import '../../_available.scss';

.contentLeft {
  width: 440px;
  display: flex;
  flex-direction: column;
  .boxTop {
    .tbody {
      height: 282px;
      overflow-y: scroll;
    }
  }
  .boxBottom {
    .tbody {
      height: 442px;
      overflow-y: scroll;
    }
  }
  .box {
    .right {
      display: flex;
      color: #ccc;
    }
    .th,
    .tr {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
      div {
        width: 20%;
      }
      .up {
        color: $up-color;
      }
      .down {
        color: $down-color;
      }
    }
    .th {
      color: #999;
    }
  }
}
