@import '../../_available';

.header {
  width: 100%;
  padding: 12px;
  background-color: $panel-bg-color;
  display: flex;
  justify-content: space-between;
  .left {
    display: flex;
    align-items: center;
    .logo {
      font-size: 36px;
      color: #1afa29;
      margin-right: 16px;
    }
    .title {
      font-size: 28px;
    }
  }
  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    .list {
      display: flex;

      .item {
        margin-right: 56px;
        min-width: 100px;

        .total {
          font-size: 18px;
        }

        .range {
          margin-right: 6px;
          font-size: 14px;
        }
        .percent {
          font-size: 14px;
        }

        .down {
          color: $down-color;
        }
        .up {
          color: $up-color;
        }
      }
    }
    .divider {
      background-color: #999;
    }
    .date {
      margin-left: 56px;
      .day {
      }
      .time {
        font-size: 19px;
      }
    }
  }
}
