@import '@/assets/styles/scrollbar.scss';

.fightPage {
  width: 100%;
  height: 1080px;
  padding: 12px;
  background-color: #1b1c1e;
  color: #fff;
  overflow: hidden;
  .content {
    @include darkScrollbar();
    display: flex;
    justify-content: space-between;
  }
}
