@import '../../_available.scss';

.contentRight {
  width: 440px;
  display: flex;
  flex-direction: column;

  .hot {
    height: 380px;
    .hotItem {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      .index {
        width: 30px;
      }
      .name {
        width: 140px;
        text-align: start;
      }
      .up {
        color: $up-color;
      }
      .down {
        color: $down-color;
      }
      .normal {
        color: #ccc;
      }
      .value {
        width: 100px;
        text-align: end;
      }
    }
  }

  .newsWrap {
    .news {
      height: 481px;
      overflow-y: scroll;

      .newItem {
        margin-bottom: 18px;
        font-size: 15px;
        .time {
          margin-bottom: 4px;
          color: $up-color;
        }
        .title {
          font-weight: 500;
        }
        .content {
          color: #ccc;
        }
      }
    }
  }
}
