.title {
  height: 20px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  border-left: 2px solid #cccccc;
  padding-left: 10px;
  margin-bottom: 16px;
  color: #fff;

  .left {
    font-size: 15px;
  }
}
